<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
    <h3 class="muted">Dashboard</h3>

    <table class="table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Shares</th>
          <th>Price paid</th>
          <th>Investment</th>
          <th>Current Price</th>
          <th>Profit</th>
        </tr>
      </thead>

      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.name %></td>
            <td><%= stock.symbol %></td>
            <td><%= stock.shares %></td>
            <td><%= stock.price_paid %></td>
            <td><%= investment = stock.price_paid * stock.shares %></td>
            <td><%= current = StockQuote::Stock.quote("#{stock.symbol}").ask%></td>
              <% if current.nil? %>
                  <td class= "warning"><%= current = "Stock not found" %></td>
              <% else %>
                <td class= "succcess"><%= profit = (current * stock.shares) - investment%></td>
              <%end%>
            <td><%= link_to 'Show', stock %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    </div>
  </div>
    <h5><%= link_to 'New Stock', new_stock_path %></h3>
</div>
